@import "tailwindcss";

.rokkitt {
  font-family: "Rokkitt", serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.bg-gray-green {
  background-color: #24323b;
}

.text-green {
  color: #2ca9bc;
}

.fenetre {
  position: absolute;
  align-items: center ;
  display: flex;
  flex-direction: column;
  font-size: 0,5rem;
  gap: 32px;
  color: rgba(255, 255, 255, 0.689);
  background-color: rgb(48, 48, 48);
  width: 10%;
  height: 100%;
  left: 0%;
  z-index: 2;
}



/* .hidden{
  display: none;
} */

